<?xml version="1.0"?>
<config>
    <modules>
        <Mext_Customcheckout>
            <version>0.1.0</version>
        </Mext_Customcheckout>
    </modules>
    <frontend>
        <routers>
            <customcheckout>
                <use>standard</use>
                <args>
                    <module>Mext_Customcheckout</module>
                    <frontName>customcheckout</frontName>
                </args>
            </customcheckout>
        </routers>
        <layout>
            <updates>
                <customcheckout>
                    <file>customcheckout.xml</file>
                </customcheckout>
            </updates>
        </layout>
    </frontend> 
    <global>        
        <resources>
            <customcheckout_setup>
                <setup>
                    <module>Mext_Customcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customcheckout_setup>
            <customcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customcheckout_write>
            <customcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customcheckout_read>
        </resources>
        <blocks>
            <customcheckout>
                <class>Mext_Customcheckout_Block</class>
            </customcheckout>
        </blocks>
        <helpers>
            <customcheckout>
                <class>Mext_Customcheckout_Helper</class>
            </customcheckout>
        </helpers>
    </global>
</config>