<?xml version="1.0"?>
<config>
    <modules>
        <W3int_CashbackCore>
            <version>0.1.0</version>
        </W3int_CashbackCore>
    </modules>
    <frontend>        
		<events>
			<checkout_cart_product_add_after>
                <observers>
                    <cashback_add_to_cart_after>
                        <class>cashbackcore/observer</class>
                        <method>hookToAddToCartAfter</method>
                    </cashback_add_to_cart_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend> 
    <global>
        <models>
            <cashbackcore>
                <class>W3int_CashbackCore_Model</class>
                <resourceModel>cashbackcore_mysql4</resourceModel>
            </cashbackcore>           
        </models>
        <resources>
            <cashbackcore_setup>
                <setup>
                    <module>W3int_CashbackCore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cashbackcore_setup>
            <cashbackcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cashbackcore_write>
            <cashbackcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cashbackcore_read>
        </resources>        
        <helpers>
            <cashbackcore>
                <class>W3int_CashbackCore_Helper</class>
            </cashbackcore>
        </helpers>
    </global>
</config>