<?xml version="1.0"?>
<config>
    <modules>
        <W3int_CashbackCore>
            <version>0.1.0</version>
        </W3int_CashbackCore>
    </modules>
    <frontend>
        <routers>
            <cashbackcore>
                <use>standard</use>
                <args>
                    <module>W3int_CashbackCore</module>
                    <frontName>cashbackcore</frontName>
                </args>
            </cashbackcore>
        </routers>
        <layout>
            <updates>
                <cashbackcore>
                    <file>cashbackcore.xml</file>
                </cashbackcore>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cashbackcore>
				<use>admin</use>
				<args>
					<module>W3int_CashbackCore</module>
					<frontName>cashbackcore</frontName>
				</args>
			</cashbackcore>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cashbackcore module="cashbackcore">
				<title>CashbackCore</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="cashbackcore">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>cashbackcore/adminhtml_cashbackcore</action>
					</items>
				</children>
			</cashbackcore>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<W3int_CashbackCore>
							<title>CashbackCore Module</title>
							<sort_order>10</sort_order>
						</W3int_CashbackCore>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<cashbackcore>
					<file>cashbackcore.xml</file>
				</cashbackcore>
			</updates>
		</layout>
		<events>	
		    <core_block_abstract_prepare_layout_after>		
		        <observers>	
				    <cashbackcore_product_injectTabs>		
				        <type>singleton</type>		
					        <class>cashbackcore/observer_product</class>		
				        <method>injectTabs</method>				
	                </cashbackcore_product_injectTabs>
			    </observers>			
            </core_block_abstract_prepare_layout_after>		
	        <catalog_product_prepare_save>				
                <observers>					
                    <cashbackcore_save_product_data>						
                        <class>cashbackcore/observer_product</class>						
                        <method>saveTabData</method>					
                    </cashbackcore_save_product_data>	
        		</observers>			
            </catalog_product_prepare_save>		
        </events>
    </adminhtml>   
    <global>
        <models>
            <cashbackcore>
                <class>W3int_CashbackCore_Model</class>
                <resourceModel>cashbackcore_mysql4</resourceModel>
            </cashbackcore>
            <cashbackcore_mysql4>
                <class>W3int_CashbackCore_Model_Mysql4</class>
                <entities>
                    <cashbackcore>
                        <table>cashbackcore</table>
                    </cashbackcore>
                </entities>
            </cashbackcore_mysql4>
        </models>
        <resources>
            <cashbackcore_setup>
                <setup>
                    <module>W3int_CashbackCore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cashbackcore_setup>
            <cashbackcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cashbackcore_write>
            <cashbackcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cashbackcore_read>
        </resources>
        <blocks>
            <cashbackcore>
                <class>W3int_CashbackCore_Block</class>
            </cashbackcore>
        </blocks>
        <helpers>
            <cashbackcore>
                <class>W3int_CashbackCore_Helper</class>
            </cashbackcore>
        </helpers>
    </global>
</config>